#WARNING: always add comment as a separate line. DO NOT add comment at the end of a config line...
#In that case the system will wrongly parse the config file without generating any warning/error.

#Total Device Count: = 9


#Careful... if it is true, all other parameters will be in don't care mode!
IS_RUNNING_BENCHMARK = false
totalSampleCount = 1000

isVaryShrinkFactor = true
isVaryCommandCntPerRtn = false
isVaryZipfAlpha = false
isVaryLongRunningPercent = false
isVaryLongRunningDuration = false
isVaryShortRunningDuration = false;

commaSeprtdVarListString = 0.5,0.6,0.9
commaSeprtdCorrespondingUpperBoundListString = 0.5,0.6,0.9

shrinkFactor = 0.25
minCmdCntPerRtn = 1
maxCmdCntPerRtn = 3

zipF = 0.01
devRegisteredOutOf65Dev = 10
maxConcurrentRtn = 100

longRrtnPcntg = 0.1
isAtleastOneLongRunning = false
minLngRnCmdTimSpn = 2000
maxLngRnCmdTimSpn = 4000

minShrtCmdTimeSpn = 10
maxShrtCmdTimeSpn = 60

devFailureRatio = 0.0
atleastOneDevFail = false
mustCmdPercentage = 1.0

IS_PRE_LEASE_ALLOWED = true
IS_POST_LEASE_ALLOWED = true

SIMULATION_START_TIME = 0
MAX_DATAPOINT_COLLECTON_SIZE = 5000
RANDOM_SEED = -1
MINIMUM_CONCURRENCY_LEVEL_FOR_BENCHMARKING = 5

dataStorageDirectory = C:\\Users\\shegufta\\Desktop\\smartHomeData

#NOTE: in the property file, for backslash use "\\" (instead of a single '\')
# for forward slash, its ok to use a single '/'