#WARNING: always add comment as a separate line. DO NOT add comment at the end of a config line...
#In that case the system will wrongly parse the config file without generating any warning/error.

######################################
# Reference: Epoch: 1571421380727 (for author's internal tracking only)
# EuroSys'21 Fig 13(c)
# For this experiment, run src/main/java/FailureAnalyzerSimulator/SimulateFailure.java
#
# Open the output file "/avg/RECOVERY_CMD_PER_RTN.dat"
#
# This is the number of recovery command per routine
# To get the percentage, divide it by $COMMAND_PER_ROUTINE = 4
# For example, in for failure = 0.2, SUPER_GSV = 1.752
# Plot it as (1.752/4)* 100 = 43.8
#
# How to run the jar file
# In Windows:
# Open terminal
# go to \SafeHomeFramework\results\JARs\SimulateFailure
# Copy the content of this file in ./conf/SafeHomeFramework.config
# use the following command to run the jar:
# java -jar .\SimulateFailure.jar
######################################

#Careful... if it is true, all other parameters will be in don't care mode!
IS_RUNNING_BENCHMARK = false
bm_setting_type = MATRIX
is_first_routine_fixed = true
is_last_routine_fixed = true

totalSampleCount = 200

isVaryShrinkFactor = false
isVaryCommandCntPerRtn = false
isVaryZipfAlpha = false
isVaryLongRunningPercent = false
isVaryLongRunningDuration = false
isVaryShortRunningDuration = false
isVaryMustCmdPercentage = true
isVaryDevFailureRatio = false

# if this is true, SimulateFailure.java will discard other measurements (if any)
# Note, this parameter was never used in SafeHomeSimulator.java
isMeasureEVroutineInsertionTime = false

commaSeprtdVarListString = 0.0, 0.2, 0.4, 0.6, 0.8, 1.0
commaSeprtdCorrespondingUpperBoundListString = 0.0, 0.2, 0.4, 0.6, 0.8, 1.0

shrinkFactor = 0.01
minCmdCntPerRtn = 4.0
maxCmdCntPerRtn = 4.0

zipF = 0.01
devRegisteredOutOf65Dev = 30
maxConcurrentRtn = 100

longRrtnPcntg = 0.1
isAtleastOneLongRunning = false
minLngRnCmdTimSpn = 2000
maxLngRnCmdTimSpn = 2025

minShrtCmdTimeSpn = 50
maxShrtCmdTimeSpn = 75

devFailureRatio = 0.4
atleastOneDevFail = false
mustCmdPercentage = 0.0
FAILURE_ANALYZER_SAMPLE_COUNT = 1000

IS_PRE_LEASE_ALLOWED = true
IS_POST_LEASE_ALLOWED = true

SIMULATION_START_TIME = 0
MAX_DATAPOINT_COLLECTON_SIZE = 2500
RANDOM_SEED = -1
MINIMUM_CONCURRENCY_LEVEL_FOR_BENCHMARKING = 5

#set this flag true to create individual output directories
isGenerateSeparateOutputDir = false

dataStorageDirectory = ./results/fig13c/

# NOTE: in the property file, for backslash use "\\" (instead of a single '\')
# for forward slash, its ok to use a single '/'
# DO NOT use quote for file path (e.g. "foo/bar"  or 'foo/bar' )