#WARNING: always add comment as a separate line. DO NOT add comment at the end of a config line...
#In that case the system will wrongly parse the config file without generating any warning/error.

######################################
# EuroSys'21 Fig 15(a)(b). Both-off with concurrency level as 2.
######################################

#Careful... if it is true, all other parameters will be in don't care mode!
IS_RUNNING_BENCHMARK = false
bm_setting_type = MATRIX
benchmark_setting = SCENARIO
scenario_type = PARTY

totalSampleCount = 200

isVaryShrinkFactor = false
isVaryCommandCntPerRtn = true
isVaryZipfAlpha = false
isVaryLongRunningPercent = false
isVaryLongRunningDuration = false
isVaryShortRunningDuration = false
isVaryMustCmdPercentage = false
isVaryDevFailureRatio = false

isMeasureEVroutineInsertionTime = false

commaSeprtdVarListString = 2,6
commaSeprtdCorrespondingUpperBoundListString = 2,6

shrinkFactor = 0.25
minCmdCntPerRtn = 1
maxCmdCntPerRtn = 1

zipF = 0.01
devRegisteredOutOf65Dev = 10
maxConcurrentRtn = 2

longRrtnPcntg = 0.1
isAtleastOneLongRunning = false
minLngRnCmdTimSpn = 400
maxLngRnCmdTimSpn = 404

minShrtCmdTimeSpn = 10
maxShrtCmdTimeSpn = 14

devFailureRatio = 0.0
atleastOneDevFail = false
mustCmdPercentage = 1.0
FAILURE_ANALYZER_SAMPLE_COUNT = 100

IS_PRE_LEASE_ALLOWED = true
IS_POST_LEASE_ALLOWED = true

SIMULATION_START_TIME = 0
MAX_DATAPOINT_COLLECTON_SIZE = 2500
RANDOM_SEED = -1
MINIMUM_CONCURRENCY_LEVEL_FOR_BENCHMARKING = 5

dataStorageDirectory = ./results/fig15ab/bothon/con2/

# NOTE: in the property file, for backslash use "\\" (instead of a single '\')
# for forward slash, its ok to use a single '/'