#WARNING: always add comment as a separate line. DO NOT add comment at the end of a config line...
#In that case the system will wrongly parse the config file without generating any warning/error.

#Total Device Count: = 9


#Careful... if it is true, all other parameters will be in don't care mode!
IS_RUNNING_BENCHMARK = true
bm_setting_type = MATRIX
benchmark_setting = SCENARIO
scenario_type = MORNING_CHAOS

totalSampleCount = 50

isVaryShrinkFactor = false
isVaryCommandCntPerRtn = false
isVaryZipfAlpha = false
isVaryLongRunningPercent = true
isVaryLongRunningDuration = false
isVaryShortRunningDuration = false
isVaryMustCmdPercentage = false
isVaryDevFailureRatio = false

isMeasureEVroutineInsertionTime = false

#commaSeprtdVarListString = 2, 3, 4, 5, 6, 7
#commaSeprtdCorrespondingUpperBoundListString = 2, 3, 4, 5, 6, 7

#commaSeprtdVarListString = 0.01, 0.1, 0.2, 0.3, 0.4, 0.6, 0.8, 1.0, 1.2, 1.4, 1.6, 1.8, 2.0
#commaSeprtdCorrespondingUpperBoundListString = 0.01, 0.1, 0.2, 0.3, 0.4, 0.6, 0.8, 1.0, 1.2, 1.4, 1.6, 1.8, 2.0

#commaSeprtdVarListString = 0.01, 0.03, 0.05, 0.1, 0.15, 0.2, 0.25, 0.5, 0.8, 1.0, 1.5, 2.0
#commaSeprtdCorrespondingUpperBoundListString = 0.01, 0.03, 0.05, 0.1, 0.15, 0.2, 0.25, 0.5, 0.8, 1.0, 1.5, 2.0

#commaSeprtdVarListString = 0.0, 0.2, 0.4, 0.6, 0.8, 1.0
#commaSeprtdCorrespondingUpperBoundListString = 0.0, 0.2, 0.4, 0.6, 0.8, 1.0

#commaSeprtdVarListString = 0.01, 0.03, 0.05, 0.1, 0.15, 0.2, 0.25, 0.5, 0.8, 1.0, 1.5, 2.0
#commaSeprtdCorrespondingUpperBoundListString = 0.01, 0.03, 0.05, 0.1, 0.15, 0.2, 0.25, 0.5, 0.8, 1.0, 1.5, 2.0

#commaSeprtdVarListString = 100, 200, 300, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000
#commaSeprtdCorrespondingUpperBoundListString = 110, 210, 310, 410, 610, 810, 1010, 1210, 1410, 1610, 1810, 2010

#commaSeprtdVarListString = 500, 1000, 1500, 2000, 3000, 4000, 5000, 6000, 7000, 8000, 9000, 10000
#commaSeprtdCorrespondingUpperBoundListString = 500, 1000, 1500, 2000, 3000, 4000, 5000, 6000, 7000, 8000, 9000, 10000

commaSeprtdVarListString = 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9
commaSeprtdCorrespondingUpperBoundListString = 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9

#commaSeprtdVarListString = 1,2,3,4,5,6,7,8,9,10
#commaSeprtdCorrespondingUpperBoundListString = 1,2,3,4,5,6,7,8,9,10

shrinkFactor = 0.25
minCmdCntPerRtn = 2
maxCmdCntPerRtn = 4

zipF = 0.01
devRegisteredOutOf65Dev = 10
maxConcurrentRtn = 100

longRrtnPcntg = 0.1
isAtleastOneLongRunning = false
minLngRnCmdTimSpn = 2000
maxLngRnCmdTimSpn = 2020

minShrtCmdTimeSpn = 50
maxShrtCmdTimeSpn = 70

devFailureRatio = 0.0
atleastOneDevFail = false
mustCmdPercentage = 1.0
FAILURE_ANALYZER_SAMPLE_COUNT = 100

IS_PRE_LEASE_ALLOWED = true
IS_POST_LEASE_ALLOWED = true

SIMULATION_START_TIME = 0
MAX_DATAPOINT_COLLECTON_SIZE = 2500
RANDOM_SEED = -1
MINIMUM_CONCURRENCY_LEVEL_FOR_BENCHMARKING = 5

dataStorageDirectory = ./results/morning/

# NOTE: in the property file, for backslash use "\\" (instead of a single '\')
# for forward slash, its ok to use a single '/'