#WARNING: always add comment as a separate line. DO NOT add comment at the end of a config line...
#In that case the system will wrongly parse the config file without generating any warning/error.

######################################
# EuroSys'21 Fig 12(a) Party scenario.
######################################

#Careful... if it is true, all other parameters will be in don't care mode!
IS_RUNNING_BENCHMARK = true
bm_setting_type = MATRIX
benchmark_setting = SCENARIO
scenario_type = PARTY

totalSampleCount = 50

isVaryShrinkFactor = false
isVaryCommandCntPerRtn = false
isVaryZipfAlpha = false
isVaryLongRunningPercent = true
isVaryLongRunningDuration = false
isVaryShortRunningDuration = false
isVaryMustCmdPercentage = false
isVaryDevFailureRatio = false

isMeasureEVroutineInsertionTime = false

commaSeprtdVarListString = 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9
commaSeprtdCorrespondingUpperBoundListString = 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9

shrinkFactor = 0.25
minCmdCntPerRtn = 2
maxCmdCntPerRtn = 4

zipF = 0.01
devRegisteredOutOf65Dev = 10
maxConcurrentRtn = 100

longRrtnPcntg = 0.1
isAtleastOneLongRunning = false
minLngRnCmdTimSpn = 2000
maxLngRnCmdTimSpn = 2020

minShrtCmdTimeSpn = 50
maxShrtCmdTimeSpn = 70

devFailureRatio = 0.0
atleastOneDevFail = false
mustCmdPercentage = 1.0
FAILURE_ANALYZER_SAMPLE_COUNT = 100

IS_PRE_LEASE_ALLOWED = true
IS_POST_LEASE_ALLOWED = true

SIMULATION_START_TIME = 0
MAX_DATAPOINT_COLLECTON_SIZE = 2500
RANDOM_SEED = -1
MINIMUM_CONCURRENCY_LEVEL_FOR_BENCHMARKING = 5

dataStorageDirectory = ./results/party/

# NOTE: in the property file, for backslash use "\\" (instead of a single '\')
# for forward slash, its ok to use a single '/'